html, body {
    margin: 0;
    padding: 0;
    background: rgb(13,24,33);
    background: linear-gradient(90deg, rgba(13, 24, 33, 0.87) 0%, rgba(0,0,0,1) 36%, rgba(48,61,79,1) 100%);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.mixer {
    align-items: left;
    width: 60%;
    height: 80%;
    margin: auto;
}

.tracklist {
    display: flex;
    width: 30%;
    height: 80%;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sliders {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    height: 100%;
}

.sliders p {
    color: white;
}

.sliders div {
    width: 6%;
    height: 80%;
    margin: 2% 1% 2% 1%;
}

#decibles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 669px;
    color: white;
}

#up-decibles {
    position: relative;
    height: fit-content;
    top: 0%;
}

#mid-decibles {
    position: relative;
    height: fit-content;
    top: 47%;
}

#low-decibles {
    position: relative;
    height: fit-content;
    top: 94%;
}

.sliders input {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 18px;
    height: 100%;
    margin:15% 2% 0 2%;
}

.col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col:nth-child(1) {
    flex: 1 1 10%;
    height: 10%;
}

.col:nth-child(2) {
    flex: 1 1 60%;
    height: 60%;
}

#music-list {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
}

.col:nth-child(3) {
    flex: 1 1 30%;
    height: 30%;
}

#header {
    display:flex;
    width: 100%;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

#search-div {
    height: 100%;
    flex: 1 1 70%;
}

.dropdown {
    flex: 1 1 30%;
    height: 100%;
    margin-left: 4%;
}


#search-music {
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 90%; /* Full-width */
    margin-top: 6%;
    margin-left: 4%;
    font-size: 16px; /* Increase font-size */
    padding: 6px 10px 6px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    float: left;
}

.dropButton {
    background-color: #555;
    color: #ddd;
    width: 80%;
    padding: 16px;
    font-size: 16px;
    margin-top: 7%;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content label {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content span {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown label:hover {
    background-color: rgb(179, 31, 31);
}

.dropdown span:hover {
    background-color: rgb(179, 31, 31);
}

.show {
    display: block;
}

.add-from-pc input[type="file"] {
    display: none;
}

#just-upload {
    display: none;
}

#music-list li { 
    height: 10%;
    cursor: pointer;
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: wheat; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
    transition: 0.2s;
}

#music-list li:hover {
    background-color: aqua;
}
li span {
    text-align: center;
}


.addMusics {
    margin-top: 2%;
    margin-left: 4%;
    padding: 6px 10px 6px 10px;
    width: 22%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.addMusics:hover {
    background: grey;
}


#music-player {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.progress-container-music {
    background: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    margin-left:5%;
    width: 90%;
    height: 5%;
}

.progress {
    background-color: #2f5477;
    height: 100%;
    border-radius: 5px;
    width: 0%;
    transition: width 0.1s linear;
}

.duration-wrap {
    height: 15%;
    margin-top: 4%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.duration-wrap span {
    color: white;
}

#title {
    font-size: 40px;
    text-align: center;
    margin: 0;
    height: 15%;
    color: white;
}
  
#artist {
    font-size: 25px;
    text-align: center;
    margin: 0;
    height: 10%;
    color: white;
}


.music-player-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40%;
    margin-top: 8%;
}

#prev {
    flex: 1 1 auto;
    text-align: center;
}

#play {
    flex: 1 1 auto;
    text-align: center;
}

#next {
    flex: 1 1 auto;
    text-align: center;
}

.fas {
    font-size: 25px;
    color: rgb(224, 212, 212);
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    filter: brightness(80%);
}

#volume-player {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.fa {
    font-size: 25px;
    color: aliceblue;
}

.fa-volume-down{
    flex: 0 1 auto;
    width: 10%;
}

.fa-volume-up {
    flex: 0 1 auto;
    width: 10%;
    margin-left: 5%;
}

.volume {
    flex: 0 1 auto;
    width: 80%;
    background: linear-gradient(90deg, rgb(117, 252, 117), rgb(214, 214, 214) 60%);
    -webkit-appearance: none;
    outline: none;
    opacity: 0.6;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}


.volume:hover {
    opacity: 1;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}


.volume::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }