html, body {
    margin: 0;
    padding: 0;
    background: rgb(13,24,33);
    background: linear-gradient(90deg, rgba(13, 24, 33, 0.87) 0%, rgba(0,0,0,1) 36%, rgba(48,61,79,1) 100%);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 45vh;
    justify-content: center;
    align-items: flex-start;
    margin: 3%;
}

.music-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 45vh;
}

.mixer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.sliders {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sliders p {
    color: white;
}

.sliders div {
    width: 6%;
    height: 80%;
    margin: 2% 1% 2% 1%;
}

#decibles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
    color: white;
}

#up-decibles {
    position: relative;
    height: fit-content;
    top: 0%;
}

#mid-decibles {
    position: relative;
    height: fit-content;
    top: 47%;
}

#low-decibles {
    position: relative;
    height: fit-content;
    top: 94%;
}

.slider{
    -webkit-appearance: slider-vertical; /* WebKit */
    background: linear-gradient( rgb(117, 252, 117), rgb(9, 11, 150) 60%);
    width: 20%;
    height: 100%;
    margin:15% 2% 0 2%;
}

.slider::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 16px;
    width: 36px;
    border-radius: 3px;
    cursor: pointer;
}


.music-player {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80%;
    width: 40%;
    margin: 3% 3% 2% 10%;
    padding: 5%;
}

.progress-container-music {
    background: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
    margin-left:5%;
    width: 90%;
    height: 5%;
}

.progress {
    background-color: #2f5477;
    height: 100%;
    border-radius: 5px;
    width: 0%;
    transition: width 0.1s linear;
}

.duration-wrap {
    height: 15%;
    margin-top: 4%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.duration-wrap span {
    color: white;
}

#title {
    font-size: 40px;
    text-align: center;
    margin: 0;
    height: 15%;
    color: white;
}
  
#artist {
    font-size: 25px;
    text-align: center;
    margin: 0;
    height: 10%;
    color: white;
}


.music-player-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40%;
    margin-top: 8%;
}

#prev {
    flex: 1 1 auto;
    text-align: center;
}

#play {
    flex: 1 1 auto;
    text-align: center;
}

#next {
    flex: 1 1 auto;
    text-align: center;
}

.fas {
    font-size: 25px;
    color: rgb(224, 212, 212);
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    filter: brightness(80%);
}

#volume-player {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.fa {
    font-size: 25px;
    color: aliceblue;
}

.fa-volume-down{
    flex: 0 1 auto;
    width: 10%;
}

.fa-volume-up {
    flex: 0 1 auto;
    width: 10%;
    margin-left: 5%;
}

.volume {
    flex: 0 1 auto;
    width: 80%;
    background: linear-gradient(90deg, rgb(117, 252, 117), rgb(214, 214, 214) 30%);
    -webkit-appearance: none;
    outline: none;
    opacity: 0.6;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
}


.volume:hover {
    opacity: 1;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}


.volume::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}