html, body {
    margin: 0;
    padding: 0;
    background: rgb(13,24,33);
    background: linear-gradient(90deg, rgba(13,24,33,1) 0%, rgba(0,0,0,1) 36%, rgba(48,61,79,1) 100%);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.mixer {
    align-items: left;
    width: 60%;
    height: 80%;
    margin: auto;
}

.tracklist {
    width: 30%;
    height: 80%;
    background-color: brown;
    margin: auto;
}

.sliders {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    height: 100%;
}

.sliders p {
    color: white;
}

.sliders div {
    width: 6%;
    height: 80%;
    margin: 2% 1% 2% 1%;
}

#decibles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 669px;
    color: white;
}

#up-decibles {
    position: relative;
    height: fit-content;
    top: 0%;
}

#mid-decibles {
    position: relative;
    height: fit-content;
    top: 47%;
}

#low-decibles {
    position: relative;
    height: fit-content;
    top: 94%;
}

.sliders input {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 18px;
    height: 100%;
    margin:15% 2% 0 2%;
}

.header {
    display: inline-flex;
    width: 100%;
    height: 15%;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

#search-div {
    width: 70%;
    height: 100%;
}

#search-music {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    margin-top: 10%;
    margin-left: 4%;
    font-size: 16px; /* Increase font-size */
    padding: 6px 10px 6px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    float: left;
}

.dropdown {
    width: 30%;
}

.dropButton {
    background-color: #555;
    color: #ddd;
    padding: 16px;
    font-size: 16px;
    margin-top: 17%;
    margin-left: 30%;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown label:hover {
    background-color: rgb(179, 31, 31);
}

.dropdown span:hover {
    background-color: rgb(179, 31, 31);
}
.show {
    display: block;
}

.add-from-pc input[type="file"] {
    display: none;
}

#music-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#music-list li a { 
    cursor: pointer;
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}


.addMusics {
    margin-top: 2%;
    margin-left: 4%;
    padding: 6px 10px 6px 10px;
    width: 22%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    border: 1px solid #ddd;
}

.addMusics:hover {
    background: grey;
}